





#navBar{
  width: 100%
  text-align center;
  display: inline-block;
  margin: 20px auto;
  margin-left: 46.5%;

}

#navBar h2{

}


#selectBar{
    display: block;
    margin-left: 40%;

}

#outer{
    height: 960px;
    width: 960px;
    margin: 30px auto;
    overflow: hidden;
}

.unit{
  display: inline-block;
  margin: 1px;
  outline: 3px solid;
  float: left;
  background-color: white;
}


.hover{
  background-color: blue;
}

.red{
  background-color: red;
}


.yellow{
  background-color: yellow;
}
