

#outer{
    height: 960px;
    width: 960px;
    margin: 30px auto;
    overflow: hidden;
}

.unit{
  display: inline-block;
  margin: 1px;
  outline: 3px solid;
  float: left;
  background-color: white;
}


.hover{
  background-color: blue;
}
